<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\file      description.launch
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com>, Prasenjit Mukherjee <pmukherj@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
* Redistributions of source code must retain the above copyright notice, this list of conditions and the
following disclaimer.
* Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
following disclaimer in the documentation and/or other materials provided with the distribution.
* Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE
)ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="map_topic" default="map_keepout"/>
  <arg name="no_static_map" default="false"/>
  <arg name="cmd_vel_topic" default="cmd_vel"/>

   <!-- global planner type -->
  <!-- <arg name="base_global_planner" default="navfn/NavfnROS"/> -->
  <arg name="base_global_planner" default="global_planner/GlobalPlanner"/>

  <!-- local planner option:
       EBandPlannerROS, TrajectoryPlannerROS, DWAPlannerROS -->
  <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/>
  <!--arg name="base_local_planner" default="eband_local_planner/EBandPlannerROS"/-->
  <!--arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS" /-->
  <!--arg name="base_local_planner" default="dwa_local_planner/TrajectorylannerROS" /-->

  <!-- Moving Parameters -->
  <arg name="base_local_planner_param" default="$(find seed_r7_navigation)/config/TebLocalPlanner.yaml"/>
  <!--arg name="base_local_planner_param" default="$(find seed_r7_navigation)/config/EBandPlanner.yaml"/-->
  <!--arg name="base_local_planner_param" default="$(find seed_r7_navigation)/config/DWAPlanner.yaml"/-->
  <!--arg name="base_local_planner_param" default="$(find seed_r7_navigation)/config/TrajectoryPlanner.yaml"/-->

  <arg name="costmap_common_config" default="$(find seed_r7_navigation)/config/costmap_common.yaml"/>
  <arg name="costmap_local_config" default="$(find seed_r7_navigation)/config/costmap_local.yaml"/>

  <node pkg="move_base" type="move_base" name="move_base"
        respawn="false" output="screen">
    <remap from="map" to="$(arg map_topic)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>

    <!-- planner type -->
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>

    <!-- Moving Parameters -->
    <rosparam file="$(arg base_local_planner_param)" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(arg costmap_common_config)" command="load" ns="global_costmap" />
    <rosparam file="$(arg costmap_common_config)" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="$(arg costmap_local_config)" command="load" ns="local_costmap" />

    <!-- static global costmap, static map provides size -->
    <rosparam
        file="$(find seed_r7_navigation)/config/costmap_global_static.yaml"
        command="load" ns="global_costmap" unless="$(arg no_static_map)"/>

    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam
        file="$(find seed_r7_navigation)/config/costmap_global_laser.yaml"
        command="load" ns="global_costmap" if="$(arg no_static_map)"/>

    <!-- For recovery Mode -->
    <param name="/TrajectoryPlannerROS/max_rotational_vel" value="0.5"/>

  </node>

</launch>
