<?xml version="1.0"?>
<launch>
  <!-- Run the map server -->
  <arg name="map_localization_file" default="$(find seed_r7_navigation)/maps/map.yaml"/>
  <arg name="map_keepout_file" default="$(arg map_localization_file)" />
  <arg name="costmap_common_config" default="$(find seed_r7_navigation)/config/costmap_common.yaml"/>
  <arg name="costmap_local_config" default="$(find seed_r7_navigation)/config/costmap_local.yaml"/>

  <node name="map_localization_server" pkg="map_server" type="map_server" args="$(arg map_localization_file)"/>
  <node name="map_planning_server"     pkg="map_server" type="map_server" args="$(arg map_keepout_file)">
    <remap from="map" to="map_keepout"/>
  </node>

  <!--- Run AMCL -->
  <include file="$(find seed_r7_navigation)/launch/amcl.launch" />

  <!--- Run Move Base -->
  <arg name="cmd_vel_topic" default="cmd_vel"/>
  <include file="$(find seed_r7_navigation)/launch/move_base.launch">
    <arg name="costmap_common_config" value="$(arg costmap_common_config)" />
    <arg name="costmap_local_config" value="$(arg costmap_local_config)" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
  </include>
</launch>
