<?xml version="1.0"?>

<!-- XML namespaces -->
<robot name="noid-wheels" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find seed_r7_description)/urdf/typeG_lifter/lifter.urdf.xacro" />
  <xacro:include filename="$(find seed_r7_description)/urdf/typeG_lifter/virtual_lifter.urdf.xacro" />
  <xacro:include filename="$(find seed_r7_description)/urdf/typeG_wheel/wheels.urdf.xacro" />
  

  <xacro:macro name="noid-wheels" params="base_link virtual_lifter:=false x_max:=0.0 x_min:=0.0 z_max:=0.0 z_min:=0.0 disable_mesh:=false">

    <xacro:wheels base_link="${base_link}" disable_mesh="${disable_mesh}"/>

    <joint name="wheel_lifter_connector" type="fixed">
      <parent  link="wheels_top_link"/>
      <child link="lifter_base_link"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0 "/> 
   </joint>

   <xacro:unless value="${virtual_lifter}">
    <xacro:lifter base_link="lifter_base_link"/>
   </xacro:unless>

   <xacro:if value="${virtual_lifter}">
    <xacro:virtual_lifter base_link="lifter_base_link" x_max="${x_max}" x_min="${x_min}" z_max="${z_max}" z_min="${z_min}"/>
   </xacro:if>

  </xacro:macro>

</robot>
