Source: ros-kinetic-seed-r7-robot-interface
Section: misc
Priority: optional
Maintainer: hi.kondo <hi.kondo@thk.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-seed-r7-ros-controller
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-seed-r7-robot-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-roscpp, ros-kinetic-seed-r7-ros-controller
Description: The seed_r7_robot_interface package
