<launch>
  <param name="aero_description" command="$(find xacro)/xacro.py '$(find aero_description)/robots/aero.urdf.xacro'"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find aero_description)/robots/aero_moveit_ik.urdf.xacro'"/>
  <node name="aero_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="robot_description" to="aero_description"/>
    <remap from="joint_states" to="aero_joint_states"/>
  </node>
  <node name="aero_joint_state_publisher" pkg="aero_startup" type="aero_joint_state_publisher"/>

  <include file="$(find noid_typef_moveit_config)/launch/joint_trajectory_action_server.launch">
  </include>

</launch>
