<?xml version="1.0"?>
<launch>
  <!-- parameters when using models in official package -->
  <arg name="robot_model"         default="typeg"/>
  <arg name="robot_model_plugin" default="seed_r7_robot_interface/$(arg robot_model)"/>

  <!-- parameters when using models in user packages -->
  <arg name="csv_config_dir"      default="$(find seed_r7_description)/csv"/>
  <arg name="robot_joint_config"  default="$(find seed_r7_robot_interface)/$(arg robot_model)/config/joint_settings.yaml"/>
  <arg name="controller_settings" default="$(find seed_r7_description)/$(arg robot_model)/controller_settings.yaml"/>
  <arg name="moveit_config_pkg"   default="$(find seed_r7_moveit_config)/../seed_r7_$(arg robot_model)_moveit_config"/>

  <!-- other settings -->
  <arg name="controller_rate"     default="50"/>
  <arg name="overlap_scale"       default="2.0"/>

  <!-- controller settings / load from yaml -->
  <rosparam command="load" file="$(arg controller_settings)" />
  <rosparam command="load" file="$(arg robot_joint_config)" />
  <rosparam command="load"
      file="$(find seed_r7_robot_interface)/$(arg robot_model)/config/extra_controller_settings.yaml" />

  <node pkg="seed_r7_ros_controller" type="seed_r7_ros_controller" name="seed_r7_ros_controller" output="screen">
    <param name="port_lower" value="/dev/aero_lower"/>
    <param name="port_upper" value="/dev/aero_upper"/>
    <param name="csv_config_dir" value="$(arg csv_config_dir)"/>
    <param name="robot_model_plugin" value="$(arg robot_model_plugin)"/>
    <param name="controller_rate" value="$(arg controller_rate)"/> <!-- [ Hz ] ( rate of read/write cycle) -->
    <param name="overlap_scale"   value="$(arg overlap_scale)"/>   <!-- scaling of target time -->
  </node>

  <rosparam>
    joint_state_controller:
      type: joint_state_controller/JointStateController
      publish_rate: 50
  </rosparam>

  <include file="$(arg moveit_config_pkg)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="seed_r7_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- spawing joint controllers -->
  <!-- names of controllers depend on robot type (described at controller_settings.yaml) -->
  <group if="$(eval not robot_model.endswith('arm') )"> <!-- in case of dual arm -->
    <node name="cm_spawner" pkg="controller_manager"
          type="spawner" args="joint_state_controller larm_controller rarm_controller
                               head_controller waist_controller lifter_controller
                               lhand_controller rhand_controller" />
  </group>
  <group if="$(eval robot_model.endswith('arm') )"> <!-- in case of single arm -->
    <node name="cm_spawner" pkg="controller_manager"
          type="spawner" args="joint_state_controller arm_controller hand_controller
                               lifter_controller" />
  </group>

</launch>
