<?xml version="1.0"?>
<launch>
  <!-- Run the map server -->
  <arg name="map_file" default="$(find noid_mover_navigation)/maps/map.yaml"/>
  <arg name="costmap_file" default="$(find noid_mover_navigation)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node name="costmap_server" pkg="map_server" type="map_server" args="$(arg costmap_file)">
    <remap from="map" to="costmap"/>
  </node>

  <!--- Run AMCL -->
  <include file="$(find noid_mover_navigation)/launch/amcl.launch" />

  <!--- Run Move Base -->
  <include file="$(find noid_mover_navigation)/launch/move_base.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>
</launch>
