<launch>
 <arg name="display" default="false"/>
 <arg name="STATIC_TF" default="true"/>

 <include file="$(find noid_typeF_moveit_config)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
 </include>

 <include file="$(find noid_typeF_moveit_config)/launch/moveit_rviz.launch" if="$(arg display)"> 
    <arg name="config" value="true"/>
 </include>

 <include file="$(find noid_typeF_moveit_config)/launch/planning_context.launch">
   <arg name="load_robot_description" value="true"/>
 </include>

</launch>
