<?xml version="1.0"?>
<robot name="SEED-Noid-Mover-typeG" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- wraps upperbody and hand-->
  <xacro:include filename="$(find seed_r7_description)/typeg_otama/noid-upper.urdf.xacro" />
  <!-- wraps lifter and wheels-->
  <xacro:include filename="$(find seed_r7_description)/typeg_otama/noid-wheels.urdf.xacro" />

 <!-- Now we can start using the macros included above to define the actual robot -->
 <xacro:noid-upper/>
 <xacro:noid-wheels base_link="base_link"/>

 <!-- gazebo settings -->
 <!-- camera -->
<xacro:property  name="camera_name" value="front_camera"/>
<link name="${camera_name}_depth_optical_frame"/>
<joint name="${camera_name}_depth_optical_joint" type="fixed">
  <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
  <parent link="${camera_name}_link" />
  <child link="${camera_name}_depth_optical_frame" />
</joint>
<xacro:gazebo_depth_camera link_name="${camera_name}_link"
                      frame_name="${camera_name}_depth_optical_frame"
                      camera_name="${camera_name}"/>

<xacro:property  name="camera_name" value="rear_camera"/>
<link name="${camera_name}_depth_optical_frame"/>
<joint name="${camera_name}_depth_optical_joint" type="fixed">
  <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
  <parent link="${camera_name}_link" />
  <child link="${camera_name}_depth_optical_frame" />
</joint>
<xacro:gazebo_depth_camera link_name="${camera_name}_link"
                      frame_name="${camera_name}_depth_optical_frame"
                      camera_name="${camera_name}"/>

<xacro:property  name="camera_name" value="chest_camera"/>
<link name="${camera_name}_depth_optical_frame"/>
<joint name="${camera_name}_depth_optical_joint" type="fixed">
  <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
  <parent link="${camera_name}_link" />
  <child link="${camera_name}_depth_optical_frame" />
</joint>
<xacro:gazebo_depth_camera link_name="${camera_name}_link"
                      frame_name="${camera_name}_depth_optical_frame"
                      camera_name="${camera_name}"/>

 <!-- laser -->
 <xacro:gazebo_laser_sensor link_name="wheels_base_laser_link"
                            frame_name="wheels_base_laser_link" />

 <!-- joint control -->
 <xacro:gazebo_trajectory_controller />

 <!-- mobile base -->
 <xacro:gazebo_base_controller base_frame="base_link" />

 <!-- mimic joints -->
 <gazebo>
   <plugin name="mimic_updater" filename="libmimic_plugin.so">
     <!-- lifter -->
     <mimic joint="knee_joint"  offset="0.0" multiplier="-1.0"
            P="1000" I="0.01" D="1" i_max="0" i_min="0"
            command_max="50" command_min="-50" velocity="true">
       knee_joint_mimic
     </mimic>
     <mimic joint="ankle_joint"  offset="0.0" multiplier="-1.0"
            P="1000" I="0.01" D="1" i_max="0" i_min="0"
            command_max="50" command_min="-50" velocity="true">
       ankle_joint_mimic
     </mimic>
     <!-- lifter(dummy) -->
     <mimic joint="knee_joint"  offset="0.0" multiplier="-1.0"
            P="100" I="0.01" D="1" i_max="0" i_min="0"
            command_max="50" command_min="-50" velocity="true">
       knee_joint_dummy
     </mimic>
     <mimic joint="ankle_joint"  offset="0.0" multiplier="1.0"
            P="100" I="0.01" D="1" i_max="0" i_min="0"
            command_max="50" command_min="-50"  velocity="true">
       ankle_joint_dummy
     </mimic>
     <!-- lhand -->
     <mimic joint="l_thumb_joint"  offset="0.0" multiplier="-1.0"
            P="10" I="0.0" D="1" i_max="0" i_min="0"
            command_max="50" command_min="-50" velocity="true">
       l_indexbase_joint
     </mimic>
     <!-- rhand -->
     <mimic joint="r_thumb_joint"  offset="0.0" multiplier="-1.0"
            P="10" I="0.0" D="1" i_max="0" i_min="0"
            command_max="50" command_min="-50" velocity="true">
       r_indexbase_joint
     </mimic>
    <!-- r_elbow -->
     <mimic joint="r_elbow_joint"  offset="0.0" multiplier="-1.0"
            P="10" I="0.01" D="1" i_max="0" i_min="-0"
            command_max="50" command_min="-50" velocity="true">
       r_elbow_joint_mimic
     </mimic>

     <mimic joint="r_elbow_joint"  offset="0.0" multiplier="0.591"
            P="10" I="0.01" D="1" i_max="0" i_min="-0"
            command_max="50" command_min="-50" velocity="true">
       r_elbow_middle_joint
     </mimic>

     <mimic joint="r_elbow_joint"  offset="0.0" multiplier="0.409"
            P="10" I="0.01" D="1" i_max="0" i_min="-0"
            command_max="50" command_min="-50" velocity="true">
       r_elbow_middle_joint_mimic
     </mimic>

     <!-- l_elbow -->
     <mimic joint="l_elbow_joint"  offset="0.0" multiplier="-1.0"
            P="10" I="0.01" D="1" i_max="0" i_min="-0"
            command_max="50" command_min="-50" velocity="true">
       l_elbow_joint_mimic
     </mimic>

     <mimic joint="l_elbow_joint"  offset="0.0" multiplier="0.591"
            P="10" I="0.01" D="1" i_max="0" i_min="-0"
            command_max="50" command_min="-50" velocity="true">
       l_elbow_middle_joint
     </mimic>

     <mimic joint="l_elbow_joint"  offset="0.0" multiplier="0.409"
            P="10" I="0.01" D="1" i_max="0" i_min="-0"
            command_max="50" command_min="-50" velocity="true">
       l_elbow_middle_joint_mimic
     </mimic>

   </plugin>
 </gazebo>

</robot>
