<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="SEED-ARM-Mover-typeCTy" >

  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- wraps upperbody and hand-->
  <xacro:include filename="$(find seed_r7_description)/arm_typeCTy/arm-upper.urdf.xacro" />
  <!-- wraps lifter and wheels-->
  <xacro:include filename="$(find seed_r7_description)/arm_typeCTy/noid-wheels.urdf.xacro" />
 
 <!-- Now we can start using the macros included above to define the actual robot -->
 <xacro:arm-upper/>
 <xacro:noid-wheels base_link="base_link"/>

</robot>
